<div class="h-dvh flex flex-col">
  <header class="mx-4 my-2">
    <h1 class="text-4xl">dog-ceo-viewer</h1>
    <p class="text-gray-700">
      All dog resources are provided from
      <a href="https://dog.ceo/dog-api/" class="appearance-auto">
        https://dog.ceo/dog-api/
      </a>
    </p>
  </header>

  <main class="flex-auto flex flex-col mx-4 mb-2 gap-4">
    <div
      class="p-4 border border-gray-700 rounded-lg flex flex-row gap-4 items-center"
    >
      <app-bleed-selector
        [bleeds]="bleeds()"
        [(selectedBleed)]="selectedBleed"
      />

      <div>
        <button mat-stroked-button (click)="refreshImages()">
          Refresh Images
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3">
      @for (image of dogImages(); track $index) {
        <img
          src="{{ image }}"
          alt="Dog image {{ $index }}"
          class="w-full object-contain"
        />
      } @empty {
        <p>No images found</p>
      }
    </div>
  </main>
</div>
