<div class="h-dvh grid grid-rows-[auto,1fr]">
  <header class="mx-4 my-2 flex flex-col">
    <h1 class="text-4xl">dog-ceo-viewer</h1>
    <p class="my-0 leading-normal text-gray-700">
      All dog resources are provided from
      <a href="https://dog.ceo/dog-api/" class="appearance-auto">
        https://dog.ceo/dog-api/
      </a>
    </p>
    <p class="my-0 leading-normal text-gray-700">
      Source:
      <a
        href="https://github.com/lacolaco/angular-dog-ceo"
        class="appearance-auto"
      >
        https://github.com/lacolaco/angular-dog-ceo
      </a>
    </p>
  </header>

  <main class="h-full grid grid-rows-[auto,1fr] mx-4 mb-2 gap-4">
    <div class="py-4 flex flex-row gap-4 items-center">
      <app-bleed-selector
        [bleeds]="bleeds()"
        [(selectedBleed)]="selectedBleed"
      />

      <div>
        <button mat-stroked-button (click)="refreshImages()">
          Refresh Images
        </button>
      </div>
    </div>

    <app-images-viewer [images]="images()" />
  </main>
</div>
