<mat-form-field subscriptSizing="dynamic" appearance="outline">
  <mat-select [(ngModel)]="selectedBleed" [compareWith]="compareSelectedBleed">
    <mat-label>Select a Bleed</mat-label>
    <mat-select-trigger>
      @if (selectedBleed(); as selectedBleed) {
        {{ selectedBleed.base }}
        @if (selectedBleed.sub) {
          - {{ selectedBleed.sub }}
        }
      } @else {
        Select a bleed
      }
    </mat-select-trigger>

    @for (bleed of bleeds(); track bleed.name) {
      @if (bleed.subBleeds.length > 0) {
        <mat-optgroup [label]="bleed.name">
          @for (subBleed of bleed.subBleeds; track subBleed) {
            <mat-option [value]="{ base: bleed.name, sub: subBleed }">
              {{ subBleed }}
            </mat-option>
          }
        </mat-optgroup>
      } @else {
        <mat-option [value]="{ base: bleed.name }">
          {{ bleed.name }}
        </mat-option>
      }
    }
  </mat-select>
</mat-form-field>
